#app{
  width: 100%;
  height: 100%;
  background: url("../img/bj01.png") no-repeat;
  background-size: 100% 100%;
  #load{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      position: absolute;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .list1{
      top: 0.6rem;
      width: 100%;
      img{
        width: 30%;
      }
    }
    .list2{
      top: 0;
    }
    .list3{
      bottom: 3.05rem;
      >div{
        width: 65%;
        margin: auto;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        border-radius: 0.5rem;
        .loading{
          position: absolute;
          top: 0;
          height: 100%;
          width: 1%;
        }
      }
    }
    .list4{
      width: 100%;
      bottom: 2.25rem;
      text-align: center;
      span{
        color: #fbe24d;
        font-size: 0.26rem;
      }
    }
  }
  #index{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      position: absolute;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .img01{
      top: 0.4rem;
      left: 0.4rem;
      width: 75%;
    }
    .img02{
      top: 2.45rem;
      width: 47%;
      right: 1.05rem;
      z-index: 100;
    }
    .img03{
      top: 3rem;
      right: 1.05rem;
      width: 40%;
      z-index: 115;
    }
    .img04{
      top: 2.75rem;
      left: 1.3rem;
      width: 42%;
      z-index: 105;
    }
    .img05{
      width: 100%;
      z-index: 120;
      top: 2.6rem;
      img{
        width: 85%;
      }
    }
    .img06{
      top: 8.1rem;
      img{
        width: 90%;
      }
    }
    .img07{
      top: 10.6rem;
      width: 100%;
      img{
        width: 40%;
        margin: auto;
      }
    }
    .img08,.img09{
      z-index: 1000;
      width: 8%;
      right: 0;
    }
    .img08{
      top: 1.5rem;
    }
    .img09{
      top: 3.1rem;
    }
    .img10{
      top: 2.3rem;
      img{
        width: 90%;
      }
    }
  }
  #index1{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      width: 100%;
      position: absolute;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .list1{
      top: 1.25rem;
      img{
        width: 85%;
      }
    }
    .list2{
      width: 100%;
      top: 2.3rem;
      font-size: 0.3rem;
      color: #ffffff;
      text-align: center;
      >div{
        width: 60%;
        display: inline-block;
        background: url("../img/bj04.png") no-repeat;
        background-size: 100%;
        background-position: 0 50%;
      }
    }
    .list3{
      top: 3.35rem;
      >div{
        width: 45%;
        margin: auto;
        background: url("../img/img12.png") no-repeat;
        background-size: 100% 100%;
        height: 3.8rem;
        padding: 0.01rem;
        img{
          width: 85%;
          margin-top: 0.17rem;
        }
      }
    }
    .list4{
      top: 7.45rem;
      img{
        width: 78%;
      }
    }
    .list5{
      top: 10.8rem;
      >div{
        display: flex;
        margin: auto;
        width: 85%;
      }
    }
  }
  #index2{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      width: 100%;
      position: absolute;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .list1{
      top: 1.25rem;
      img{
        width: 60%;
      }
    }
    .list2{
      width: 100%;
      top: 2.3rem;
      font-size: 0.3rem;
      color: #ffffff;
      text-align: center;
      >div{
        width: 60%;
        display: inline-block;
        background: url("../img/bj04.png") no-repeat;
        background-size: 100%;
        background-position: 0 50%;
      }
    }
    .list3{
      top: 3.35rem;
      >div{
        width: 45%;
        margin: auto;
        background: url("../img/img12.png") no-repeat;
        background-size: 100% 100%;
        height: 3.8rem;
        padding: 0.01rem;
        img{
          width: 85%;
          margin-top: 0.17rem;
        }
      }
    }
    .list4{
      top: 7.8rem;
      img{
        width: 78%;
      }
    }
    .list5{
      top: 10.8rem;
      >div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 50%;
      }
    }
  }
  #index3{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      width: 100%;
      position: absolute;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .list1{
      top: 1.25rem;
      img{
        width: 40%;
      }
    }
    .list2{
      width: 100%;
      top: 2.3rem;
      font-size: 0.3rem;
      color: #ffffff;
      text-align: center;
      >div{
        width: 60%;
        display: inline-block;
        background: url("../img/bj04.png") no-repeat;
        background-size: 100%;
        background-position: 0 50%;
      }
    }
    .list3{
      top: 3.35rem;
      >div{
        width: 45%;
        margin: auto;
        background: url("../img/img12.png") no-repeat;
        background-size: 100% 100%;
        height: 3.8rem;
        padding: 0.01rem;
        img{
          width: 85%;
          margin-top: 0.17rem;
        }
      }
    }
    .list4{
      top: 7.8rem;
      img{
        width: 78%;
      }
    }
    .list5{
      top: 10.8rem;
      >div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 50%;
      }
    }
  }
  #message{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      position: absolute;
      width: 100%;
      img{
        width: 100%;
        margin: auto;
      }
    }
    select{
      font-size: 0.28rem;
      background-color: transparent;
      color: #fff;
      border: 0;
      padding: 0.07rem 0.05rem;
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
    }
    .list1{
      top: 0.25rem;
      left: 0.25rem;
      width: 17%;
    }
    .list2{
      top: 1.85rem;
      img{
        width: 60%;
      }
    }
    .input{
      top: 3.5rem;
      width: 100%;
      .inwrap{
        margin: auto;
        width: 90%;
        >div{
          background: url("../img/bj05.png") no-repeat;
          background-size: 100% 100%;
          position: relative;
          height: 1.2rem;
          display: flex;
          justify-content: left;
          align-items: center;
          >div{
            display: flex;
            justify-content: left;
            position: relative;
            align-items: center;
            margin-top: -0.17rem;
            margin-left: 0.5rem;
            width: 90%;
            span{
              font-size: 0.3rem;
              color: #fae567;
            }
            input{
              background-color: transparent;
              border: 0;
              font-size: 0.28rem;
              color: #ffffff;
            }
            input::placeholder{
              color: #fa2821;
            }
            .icon{
              position: absolute;
              right: 0.2rem;
              top: 0.02rem;
              width: 0.2rem;
              height: 0.4rem;
              background: url("../img/icon02.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
        .input3{
          >div{
            >div{
              display: flex;
              width: 70%;
              .inline{
                font-size: 0;
                width: 35%;
                position: relative;
                select{
                  width: 100%;
                }
              }
              .inline::after{
                content: '';
                display: block;
                position: absolute;
                border-right: 1px dashed #dc1f10;
                right: 0;
                top: 0;
                height: 100%;
              }
              .inline:last-child::after{
                display: none;
              }
            }
            .icon{
              position: absolute;
              right: 0.2rem;
              top: 0.02;
              width: 0.2rem;
              height: 0.4rem;
              background: url("../img/icon02.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
        .input5{
          >div{
            .inline{
              font-size: 0;
              width: 65%;
              position: relative;
              select{
                width: 100%;
              }
            }
          }
        }
      }
    }
    .list3{
      top: 10.45rem ;
      img{
        width: 50%;
      }
    }
  }
  #winList{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url("../img/bj07.png") no-repeat;
    background-size: 100% 108%;
    background-position: 0 -1rem;
    >div{
      width: 100%;
      position: absolute;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .list1{
      width: 18%;
      top: 0.25rem;
      left: 0.25rem;
    }
    .list2{
      top: 1.5rem;
      z-index: 10;
      img{
        width: 36%;
      }
    }
    .list3{
      top: 1.6rem;
      img{
        width: 99%;
        margin-left: -0.01rem;
      }
    }
    .list4{
      top: 5.2rem;
      .wrap{
        width: 87%;
        margin: auto;
        >div{
          margin-left: 0.07rem;
        }
        .nav{
          width: 100%;
          display: flex;
          margin-bottom: 0.1rem;
          >div{
            width: 25%;
            height: 0.7rem;
            margin-right: 0.02rem;
            background: url("../img/icon03.png") no-repeat;
            background-size: 100% 100%;
          }
          >div.sel{
            background: url("../img/icon03_sel.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:nth-child(2){
            background: url("../img/icon04.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:nth-child(2).sel{
            background: url("../img/icon04_sel.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:nth-child(3){
            background: url("../img/icon05.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:nth-child(3).sel{
            background: url("../img/icon05_sel.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:nth-child(4){
            background: url("../img/icon06.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:nth-child(4).sel{
            background: url("../img/icon06_sel.png") no-repeat;
            background-size: 100% 100%;
          }
          >div:last-child{
            margin-right: 0;
          }
        }
        .cont{
          height: 7.3rem;
          overflow-y: scroll;
          >div{
            font-size: 0.26rem;
            color: #ffffff;
            background: url("../img/bj06.png") no-repeat;
            background-size: 100% 100%;
            height: 1.85rem;
            display: flex;
            justify-content: center;
            align-items: center;
            >div{
              display: flex;
              justify-content: space-around;
              width: 92%;
              >div:first-child{
                width: 20%;
                >div{
                  width: 90%;
                  margin: auto;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  overflow: hidden;
                }
              }
              >div:last-child{
                width: 75%;
                >div:first-child{
                  height: 0.92rem;
                  margin-bottom: 0.04rem;
                  img{
                    height: 100%;
                  }
                }
                >div:last-child{
                  margin-bottom: 0.05rem;
                }
              }
            }
          }
        }
      }
    }
  }
  #paySuccess{
    width: 100%;
    height: 100%;
    position: relative;
    >div{
      position: absolute;
      width: 100%;
      img{
        width: 100%;
        margin: auto;
      }
    }
    .list1{
      top: 2.1rem;
      img{
        width: 40%;
      }
    }
    .list2{
      top: 3.35rem;
      img{
        width: 95%;
      }
    }
    .list3{
      top: 7.8rem;
      img{
        width:75%;
      }
    }
    .list4{
      top: 9.3rem;
      img{
        width: 50%;
      }
    }
  }
  #sharePopUp{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    >div{
      position: absolute;
      top: 0.5rem;
      right: 0.6rem;
      width: 75%;
      img{
        width: 100%;
      }
    }
  }
  #activityDesc{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    display: none;
    >div{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrap{
        width: 90%;
        height: 75%;
        background: url("../img/bj02.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        >div{
          img{
            width: 100%;
          }
        }
        .list1{
          position: absolute;
          width: 100%;
          height: 65%;
          overflow-y: scroll;
          top: 1.65rem;
          img{
            width: 85%;
            margin: auto;
          }
        }
        .list2{
          width: 100%;
          position: absolute;
          bottom: 0.65rem;
          >div{
            margin: auto;
            width: 40%;
          }
        }
        .list3{
          position: absolute;
          top: -1rem ;
          right: 0;
          width: 10%;
          >div{
            position: absolute;
            top: 0;
            width: 100%;
            height: 0.7rem;
          }
        }
      }
    }

  }
  #popUp1{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    .wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      >div{
        width: 85%;
        height: 4.35rem;
        background: url("../img/bj03.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        >div{
          position: absolute;
          width: 100%;
          img{
            width: 100%;
            margin: auto;
          }
        }
        .list1{
          top: 0.55rem;
          img{
            width: 50%;
          }
          .dashed{
            width: 85%;
            margin-top: 0.1rem;
          }
        }
        .list2{
          font-size: 0.28rem;
          color: #ffffff;
          text-align: center;
          top: 2rem;
        }
        .list3{
          top: 2.85rem;
          img{
            width: 50%;
          }
        }
      }
    }
  }
}