<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>诗尼曼15周年</title>
    <link rel="stylesheet" href="__COUPON__/css/reset.css" />
    <link rel="stylesheet" href="__COUPON__/css/animate.min.css">
    <link rel="stylesheet" href="__COUPON__/css/index.css">
    <style>
        #app #popUp1{
            z-index: 999;
        }
    </style>
    <!--rem单位-->
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if(!clientWidth) return;
                    if(clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if(!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

    <link rel="stylesheet" href="__GROUP__/layui/css/layui.mobile.css">
    <script src="__GROUP__/layui/layui.js"></script>
    <script type="text/javascript">
        var imgpath='__COUIMG__';
    </script>
</head>
<body>
    <div id="app">
        <div id="load" v-if="idx == 0">
            <div class="list1"><img src="__COUIMG__/img/loadLogo.png" alt=""></div>
            <div class="list2 animated bounceIn"><img src="__COUIMG__/img/loadImg01.png" alt=""></div>
            <div class="list3">
                <div>
                    <img src="__COUIMG__/img/loading01.png" alt="">
                    <img class="loading" src="__COUIMG__/img/loading02.png" alt="">
                </div>
            </div>
            <div class="list4">
                <span>13%</span>
            </div>
        </div>
        <div id="index" v-if="idx == 1">

            <div class="img01"><img src="__COUIMG__/img/logo.png" alt=""></div>
            <div class="img02" ><img src="__COUIMG__/img/img02.png" alt=""/></div>
            <div class="img03" ><img src="__COUIMG__/img/img03.png" alt=""/></div>
            <div class="img04" ><img src="__COUIMG__/img/img04.png" alt=""/></div>
            <div class="img05" ><img src="__COUIMG__/img/img05.png" alt=""/></div>
            <div class="img06"><img src="__COUIMG__/img/img01.png" alt=""></div>

            <div class="img07" v-on:click="mycoupone()">
                <img :src="status==0?'__COUIMG__/img/button01.png':'__COUIMG__/img/button02.png'" alt="">
            </div>

            <div class="img08" v-on:click="popUp=2"><img src="__COUIMG__/img/left01.png" alt=""></div>

            <div class="img09" v-on:click="winList"><img src="__COUIMG__/img/left02.png" alt=""></div>
            <div class="img10" v-on:click=""><img src="__COUIMG__/img/img06.png" alt=""></div>

        </div>
        <!--购买成功-->
        <div id="paySuccess" v-if="idx == 2">
            <div class="list1">
                <img src="__COUIMG__/img/img08.png" alt="">
            </div>
            <div class="list2">
                <img src="__COUIMG__/img/card.png" alt="">
            </div>
            <div class="list3">
                <img src="__COUIMG__/img/img09.png" alt="">
            </div>

            <div class="list4" v-on:click="idx=6">
                <img src="__COUIMG__/img/button04.png" alt="">

            </div>
        </div>

        <!--6月16日公布中奖名单-->
        <div id="index1" v-if="idx == 3">
            <div class="list1">
                <img src="__COUIMG__/img/img11.png" alt="">
            </div>

            <div class="list2" v-if="code">
                <div>
                    <span>您的抽奖码：{{ code }}</span>
                </div>
            </div>

            <div class="list3">
                <div>
                    <img src="__COUIMG__/img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="__COUIMG__/img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="__COUIMG__/img/button05.png" alt="">
                    </div>
                    <div>
                        <img src="__COUIMG__/img/button06.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--信息提交成功-->
        <div id="index2" v-if="idx == 4">
            <div class="list1">
                <img src="__COUPON__/img/img14.png" alt="">
            </div>
            <div class="list2">
                <div>
                    <span>您的抽奖码：{{ code }}</span>
                </div>
            </div>
            <div class="list3">
                <div>
                    <img src="__COUPON__/img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="__COUPON__/img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="__COUPON__/img/button07.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--我的卡券-->
        <div id="index3" v-if="idx == 5">
            <div class="list1">
                <img src="__COUPON__/img/img15.png" alt="">
            </div>
            <div class="list2">
                <div>
                    <span>您的抽奖码：{{ code }}</span>
                </div>
            </div>
            <div class="list3">
                <div>
                    <img src="__COUPON__/img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="__COUPON__/img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="__COUPON__/img/button05.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--填写个人信息-->
        <div id="message" v-if="idx == 6">
            <div class="list1" v-on:click="idx=2">
                <img src="__COUPON__/img/button08.png" alt="">
            </div>
            <div class="list2">
                <img src="__COUPON__/img/title01.png" alt="">
            </div>
            <div class="input">
                <div class="inwrap">
                    <div class="input1">
                        <div>
                            <span>姓名：</span>

                            <input type="text" name="uname" placeholder="请输入姓名">

                        </div>
                    </div>
                    <div class="input2">
                        <div>
                            <span>电话：</span>
                            <input type="text" name="mobile" placeholder="请输入11位手机号码">

                        </div>
                    </div>
                    <div class="input3">
                        <div>
                            <span>省市区：</span>

                            <div class="iniline">
                                <select name="province" id="province" v-on:change="(this,'city')">
                                    <option value="1">请选择省</option>
                                    <option value="1">北京</option>
                                    <option value="2">上海</option>
                                    <option value="3">广州</option>
                                </select>
                            </div>
                            <div class="iniline">
                                <select name="city" id="city">
                                    <option value="">请选择城市</option>
                                </select>
                            </div>
                            <div class="iniline">
                                <select name="area" id="area">
                                    <option value="">请选择地区</option>
                                </select>
                            </div>

                            <div class="icon"></div>
                        </div>
                    </div>
                    <div class="input4">
                        <div>
                            <span>店名：</span>
                            <input type="text" placeholder="请输入店名" v-model="form.shopName">
                        </div>
                    </div>
                    <div class="input5">
                        <div>
                            <span>定制产品：</span>
                            <input type="text" placeholder="请选择" v-model="form.product">
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list3">

                <div>
                    <img src="__COUPON__/img/button03.png" alt="">

                </div>
            </div>
        </div>
        <!--中奖名单-->
        <div id="winList" v-if="idx == 7">
            <div class="list1">
                <img src="__COUPON__/img/button08.png" alt="">
            </div>
            <div class="list2">
                <img src="__COUPON__/img/title02.png" alt="">
            </div>

            <div class="list3" v-if="false">
                <img src="__COUPON__/img/img16.png" alt="">
            </div>
            <div class="list4" v-if="false">
                <div class="nav">
                    <div>
                        <img src="__COUPON__/img/icon03.png" alt="">
                    </div>
                    <div>
                        <img src="__COUPON__/img/icon04.png" alt="">
                    </div>
                    <div>
                        <img src="__COUPON__/img/icon05.png" alt="">
                    </div>
                    <div>
                        <img src="__COUPON__/img/icon06.png" alt="">
                    </div>
                </div>
                <div class="cont">
                    <div class="c1">
                        <div>
                            <img src="__COUPON__/img/head01.png" alt="">
                        </div>
                        <div>
                            <div>
                                <img src="__COUPON__/img/top.png" alt="">

                            </div>
                        </div>
                        <div class="c1">
                            <div>
                                <div>
                                    <div>
                                        <img src="img/head01.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <img src="img/top3.png" alt="">
                                    </div>
                                    <div>
                                        <span>王俊凯 来自网易用户 138****3652</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--分享页弹窗-->
        <div id="sharePopUp" v-if="popUp == 0">
            <div>
                <img src="__COUIMG__/img/share01.png" alt="">
            </div>
        </div>
        <!--活动说明弹窗-->
        <div id="activityDesc" v-if="popUp == 2">
            <div class="wrap">
                <div class="list1">
                    <img src="__COUIMG__/img/img07.png" alt="">
                </div>
                <div class="list2">

                    <div>
                        <img src="__COUIMG__/img/button03.png" alt="">
                    </div>
                </div>
                <div class="list3">
                    <img src="__COUIMG__/img/icon01.png" alt="">
                    <div></div>
                    <div @click="close">
                        <img src="img/button03.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <!--购买失败弹窗-->
        <div id="popUp1" v-if="popUp == 3">
            <div class="wrap">
                <div>
                    <div class="list1">
                        <img src="__COUIMG__/img/img10.png" alt="">
                        <img class="dashed" src="__COUIMG__/img/dashed.png" alt="">
                    </div>
                    <div class="list2">
                        <span>{{ msg }}</span>
                    </div>
                    <div class="list3" v-on:click="popUp=1">
                        <img src="__COUIMG__/img/button03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.use('layer', function(){
            var layer = layui.layer;
        });
        var App = new Vue({
            el:'#app',
            data:{

                idx:1,
                //按钮状态
                button:false,
                popUp:1,
                token:'<{$token}>',
                msg:'',
                step:'<{$step}>',
                status:'<{$status}>',
                code:"<{isset($coupon['code'])?$coupon['code']?:''}>",
                awardList:[
                    {className:'top1',isSel:false},
                    {className:'top2',isSel:false},
                    {className:'top3',isSel:false},
                    {className:'top4',isSel:false},
                ]

            },
            mounted:function () {

                var _this=this;
                if(_this.step==2){
                    _this.idx=2;
                }


                this.$nextTick(function () {
                    // this.show1 = true
                    $('#index .img02,#index .img04,#index .img03,#index .img05,#index .img10,#index .img06,#index .img07').hide();
                    $('#index .img02').show().addClass('animated bounceIn');
                    setTimeout(function () {
                        $('#index .img04').show().addClass('animated bounceIn')
                    },100);
                    setTimeout(function () {
                        $('#index .img03').show().addClass('animated bounceIn')
                    },300);
                    setTimeout(function () {
                        $('#index .img05').show().addClass('animated bounceIn')
                    },600);
                    setTimeout(function () {
                        $('#index .img10').show().addClass('animated bounceIn')
                    },1000);
                    setTimeout(function () {
                        $('#index .img06').show().addClass('animated bounceIn')
                    },1000);
                    setTimeout(function () {
                        $('#index .img07').show().addClass('animated bounceIn')
                    },1200);

                })
            },
            methods:{
                sel:function (index) {
                    var e = event.target;
                    $(e).parent('.nav').find('div').removeClass('sel');
                    $(e).addClass('sel')
                },
                buy:function(){
                    layer.load(2,{
                        shade:0.6
                    });
                    var url="<{:url('coupon/create')}>";
                    var _this=this;
                    $.post(url,{
                        __token__:_this.token
                    },function(res){
                        layer.closeAll();
                        _this.token=res.token;

                        if(res.code==0){
                            _this.popUp=3;
                            _this.msg=res.msg;
                        }else{
                            window.location.href=res.url;
                        }
                    },'JSON');
                },
                mycoupone:function(){
                    var _this=this;
                    var status=parseInt(_this.status);
                    switch (status){
                        case 0:
                            _this.buy();
                            break;
                        case 1:
                            _this.idx=2;
                            break;
                        case 2:
                            _this.idx=3;
                            break;
                        default:
                            _this.idx=3;
                            break;
                    }
                },
                edit:function(){
                    var uname=$('[name="uname"]').val();
                    var mobile=$('[name="mobile"]').val();
                },
                region:function(val,obj){
                    var url="<{:url('coupon/region')}>";
                    console.log(val);
//                    $.post(url,{
//                        id:val
//                    },function(res){
//                        $('#'+obj).html(res.list);
//                    },'JSON');
                }
            }
        })
    </script>
</body>
</html>