<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>诗尼曼15周年</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/index.css">
    <!--rem单位-->
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if(!clientWidth) return;
                    if(clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if(!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <!--加载页-->
        <div id="load" v-if="idx == 0">
            <div class="list1"><img src="img/loadLogo.png" alt=""></div>
            <div class="list2 animated bounceIn"><img src="img/loadImg01.png" alt=""></div>
            <div class="list3">
                <div>
                    <img src="img/loading01.png" alt="">
                    <img class="loading" src="img/loading02.png" alt="">
                </div>
            </div>
            <div class="list4">
                <span>13%</span>
            </div>
        </div>
        <!--首页-->
        <div id="index" v-if="idx == 1">
            <div class="img01"><img src="img/logo.png" alt=""></div>
            <div class="img02" ><img src="img/img02.png" alt=""/></div>
            <div class="img03" ><img src="img/img03.png" alt=""/></div>
            <div class="img04" ><img src="img/img04.png" alt=""/></div>
            <div class="img05" ><img src="img/img05.png" alt=""/></div>
            <div class="img06"><img src="img/img01.png" alt=""></div>
            <div class="img07"><img :src="button?'img/button02.png':'img/button01.png'" @click="pay" alt=""></div>
            <div class="img08" @click="activityShow"><img src="img/left01.png" alt=""></div>
            <div class="img09" @click="winList"><img src="img/left02.png" alt=""></div>
            <div class="img10"><img src="img/img06.png" alt=""></div>
        </div>
        <!--购买成功-->
        <div id="paySuccess" v-if="idx == 2">
            <div class="list1">
                <img src="img/img08.png" alt="">
            </div>
            <div class="list2">
                <img src="img/card.png" alt="">
            </div>
            <div class="list3">
                <img src="img/img09.png" alt="">
            </div>
            <div class="list4">
                <img src="img/button04.png" @click="wrMessage" alt="">
            </div>
        </div>
        <!--6月16日公布中奖名单-->
        <div id="index1" v-if="idx == 3">
            <div class="list1">
                <img src="img/img11.png" alt="">
            </div>
            <div class="list2">
                <div>
                    <span>您的抽奖码：369875</span>
                </div>
            </div>
            <div class="list3">
                <div>
                    <img src="img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="img/button05.png" alt="">
                    </div>
                    <div>
                        <img src="img/button06.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--信息提交成功-->
        <div id="index2" v-if="idx == 4">
            <div class="list1">
                <img src="img/img14.png" alt="">
            </div>
            <div class="list2">
                <div>
                    <span>您的抽奖码：369875</span>
                </div>
            </div>
            <div class="list3">
                <div>
                    <img src="img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="img/button07.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--我的卡券-->
        <div id="index3" v-if="idx == 5">
            <div class="list1">
                <img src="img/img15.png" alt="">
            </div>
            <div class="list2">
                <div>
                    <span>您的抽奖码：369875</span>
                </div>
            </div>
            <div class="list3">
                <div>
                    <img src="img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="img/button05.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--填写个人信息-->
        <div id="message" v-if="idx == 6">
            <select name="sel" id="se">
                <option value="请选择省">请选择省</option>
            </select>
            <div class="list1">
                <img src="img/button08.png" alt="">
            </div>
            <div class="list2">
                <img src="img/title01.png" alt="">
            </div>
            <div class="input">
                <div class="inwrap">
                    <div class="input1">
                        <div>
                            <span>姓名：</span>
                            <input type="text" placeholder="请输入姓名" v-model="form.name">
                        </div>
                    </div>
                    <div class="input2">
                        <div>
                            <span>电话：</span>
                            <input type="text" placeholder="请输入11位手机号码" v-model="form.phone">
                        </div>
                    </div>
                    <div class="input3">
                        <div>
                            <span>省市区：</span>
                            <input type="text" placeholder="请选择" v-model="form.addr">
                            <div class="icon"></div>
                        </div>
                    </div>
                    <div class="input4">
                        <div>
                            <span>店名：</span>
                            <input type="text" placeholder="请输入店名" v-model="form.shopName">
                        </div>
                    </div>
                    <div class="input5">
                        <div>
                            <span>定制产品：</span>
                            <input type="text" placeholder="请选择" v-model="form.product">
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list3">
                <div @click="submit">
                    <img src="img/button03.png" alt="">
                </div>
            </div>
        </div>
        <!--中奖名单-->
        <div id="winList" v-if="idx == 7">
            <div class="list1">
                <img src="img/button08.png" alt="">
            </div>
            <div class="list2">
                <img src="img/title02.png" alt="">
            </div>
            <div class="list3">
                <img src="img/img16.png" alt="">
            </div>
            <div class="list4">
                <div class="wrap">
                    <div class="nav">
                        <div v-for="(item,index) in awardList" :key="index" :class="item.className" @click="sel(index)"></div>
                    </div>
                    <div class="cont">
                        <div class="c1">
                            <div>
                                <div>
                                    <div>
                                        <img src="img/head01.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <img src="img/top.png" alt="">
                                    </div>
                                    <div>
                                        <span>王俊凯 来自网易用户 138****3652</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c1">
                            <div>
                                <div>
                                    <div>
                                        <img src="img/head01.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <img src="img/top1.png" alt="">
                                    </div>
                                    <div>
                                        <span>王俊凯 来自网易用户 138****3652</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c1">
                            <div>
                                <div>
                                    <div>
                                        <img src="img/head01.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <img src="img/top2.png" alt="">
                                    </div>
                                    <div>
                                        <span>王俊凯 来自网易用户 138****3652</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c1">
                            <div>
                                <div>
                                    <div>
                                        <img src="img/head01.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <img src="img/top3.png" alt="">
                                    </div>
                                    <div>
                                        <span>王俊凯 来自网易用户 138****3652</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c1">
                            <div>
                                <div>
                                    <div>
                                        <img src="img/head01.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <img src="img/top3.png" alt="">
                                    </div>
                                    <div>
                                        <span>王俊凯 来自网易用户 138****3652</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--分享页弹窗-->
        <div id="sharePopUp" v-if="popUp == 0" @click="close">
            <div>
                <img src="img/share01.png" alt="">
            </div>
        </div>
        <!--活动说明弹窗-->
        <div id="activityDesc" v-if="popUp == 2">
            <div>
                <div class="wrap">
                    <div class="list1">
                        <img src="img/img07.png" alt="">
                    </div>
                    <div class="list2">
                        <div @click="close">
                            <img src="img/button03.png" alt="">
                        </div>
                    </div>
                    <div class="list3">
                        <img src="img/icon01.png" alt="">
                        <div @click="close"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--提交失败弹窗-->
        <div id="popUp1" v-if="popUp == 3">
            <div class="wrap">
                <div>
                    <div class="list1">
                        <img src="img/img10.png" alt="">
                        <img class="dashed" src="img/dashed.png" alt="">
                    </div>
                    <div class="list2">
                        <span>请输入11位手机号码</span>
                    </div>
                    <div class="list3">
                        <img src="img/button03.png" alt="" @click="close">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var App = new Vue({
            el:'#app',
            data:{
                idx:6,
                //按钮状态
                button:false,
                popUp:1,
                awardList:[
                    {className:'top1',isSel:false},
                    {className:'top2',isSel:false},
                    {className:'top3',isSel:false},
                    {className:'top4',isSel:false},
                ],
                form:{
                    name:'',
                    phone:'',
                    addr:'',
                    shopName:'',
                    product:''
                }
            },
            methods:{
              sel:function (index) {
                  var e = event.target;
                  $(e).parent('.nav').find('div').removeClass('sel');
                  $(e).addClass('sel')
              },
                submit:function () {
                    console.log(1)
                },
                activityShow:function () {
                    this.popUp = 2
                },
                close:function () {
                    this.popUp = 1
                },
                winList:function () {
                    this.idx = 7
                },
                pay:function () {
                    if(this.button == false){
                        this.idx = 2
                    }else{
                        this.idx = 5
                    }
                },
                wrMessage:function () {
                    this.idx = 6
                },
            },
            mounted:function () {

                this.$nextTick(function () {
                    //弹窗加载
                    $('#sharePopUp,#activityDesc,#popUp1').show();
                    // this.show1 = true
                    $('#index .img02,#index .img04,#index .img03,#index .img05,#index .img10,#index .img06,#index .img07').hide();
                    $('#index .img02').show().addClass('animated bounceIn')
                    setTimeout(function () {
                        $('#index .img04').show().addClass('animated bounceIn')
                    },100)
                    setTimeout(function () {
                        $('#index .img03').show().addClass('animated bounceIn')
                    },300)
                    setTimeout(function () {
                        $('#index .img05').show().addClass('animated bounceIn')
                    },600)
                    setTimeout(function () {
                        $('#index .img10').show().addClass('animated bounceIn')
                    },1000)
                    setTimeout(function () {
                        $('#index .img06').show().addClass('animated bounceIn')
                    },1000)
                    setTimeout(function () {
                        $('#index .img07').show().addClass('animated bounceIn')
                    },1200)

                })
            }
        })
    </script>
</body>
</html>