<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>诗尼曼15周年</title>
    <link rel="stylesheet" href="__COUPON__/css/reset.css" />
    <link rel="stylesheet" href="__COUPON__/css/animate.min.css">
    <link rel="stylesheet" href="__COUPON__/css/index.css">
    <style>
        #app #popUp1{
            z-index: 999;
        }
    </style>
    <!--rem单位-->
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if(!clientWidth) return;
                    if(clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if(!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

    <link rel="stylesheet" href="__GROUP__/layui/css/layui.mobile.css">
    <script src="__GROUP__/layui/layui.js"></script>
    <script type="text/javascript">
        var imgpath='__COUIMG__';
    </script>
</head>
<body>
    <div id="app">
        <div id="load" v-if="idx == 0">
            <div class="list1"><img src="__COUIMG__/img/loadLogo.png" alt=""></div>
            <div class="list2 animated bounceIn"><img src="__COUIMG__/img/loadImg01.png" alt=""></div>
            <div class="list3">
                <div>
                    <img src="__COUIMG__/img/loading01.png" alt="">
                    <img class="loading" src="__COUIMG__/img/loading02.png" alt="">
                </div>
            </div>
            <div class="list4">
                <span>13%</span>
            </div>
        </div>
        <div id="index" v-if="idx == 1">
            <div class="img01"><img src="__COUIMG__/img/logo.png" alt=""></div>
            <div class="img02" ><img src="__COUIMG__/img/img02.png" alt=""/></div>
            <div class="img03" ><img src="__COUIMG__/img/img03.png" alt=""/></div>
            <div class="img04" ><img src="__COUIMG__/img/img04.png" alt=""/></div>
            <div class="img05" ><img src="__COUIMG__/img/img05.png" alt=""/></div>
            <div class="img06"><img src="__COUIMG__/img/img01.png" alt=""></div>

            <div class="img07" v-on:click="mycoupone()">
                <img :src="button?'__COUIMG__/img/button02.png':'__COUIMG__/img/button01.png'" alt="">
            </div>

            <div class="img08" v-on:click="popUp==2"><img src="__COUIMG__/img/left01.png" alt=""></div>
            <div class="img09"><img src="__COUIMG__/img/left02.png" alt=""></div>
            <div class="img10"><img src="__COUIMG__/img/img06.png" alt=""></div>
        </div>

        <div id="paySuccess" v-if="idx == 2">
            <div class="list1">
                <img src="__COUIMG__/img/img08.png" alt="">
            </div>
            <div class="list2">
                <img src="__COUIMG__/img/card.png" alt="">
            </div>
            <div class="list3">
                <img src="__COUIMG__/img/img09.png" alt="">
            </div>
            <div class="list4">
                <img src="__COUIMG__/img/button04.png" alt="">
            </div>
        </div>

        <!--6月16日公布中奖名单-->
        <div id="index1" v-if="idx == 3">
            <div class="list1">
                <img src="__COUIMG__/img/img11.png" alt="">
            </div>
            <if condition="$coupon['code']">
            <div class="list2">
                <div>
                    <span>您的抽奖码：<{$coupon['code']}></span>
                </div>
            </div>
            </if>
            <div class="list3">
                <div>
                    <img src="__COUIMG__/img/erweima.png" alt="">
                </div>
            </div>
            <div class="list4">
                <img src="__COUIMG__/img/img13.png" alt="">
            </div>
            <div class="list5">
                <div>
                    <div>
                        <img src="__COUIMG__/img/button05.png" alt="">
                    </div>
                    <div>
                        <img src="__COUIMG__/img/button06.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--分享页弹窗-->
        <div id="sharePopUp" v-if="popUp == 0">
            <div>
                <img src="__COUIMG__/img/share01.png" alt="">
            </div>
        </div>
        <!--活动说明弹窗-->
        <div id="activityDesc" v-if="popUp == 2">
            <div class="wrap">
                <div class="list1">
                    <img src="__COUIMG__/img/img07.png" alt="">
                </div>
                <div class="list2">
                    <div>
                        <img src="__COUIMG__/img/button03.png" alt="">
                    </div>
                </div>
                <div class="list3">
                    <img src="__COUIMG__/img/icon01.png" alt="">
                    <div></div>
                </div>
            </div>
        </div>
        <!--购买失败弹窗-->
        <div id="popUp1" v-if="popUp == 3">
            <div class="wrap">
                <div>
                    <div class="list1">
                        <img src="__COUIMG__/img/img10.png" alt="">
                        <img class="dashed" src="__COUIMG__/img/dashed.png" alt="">
                    </div>
                    <div class="list2">
                        <span>{{ msg }}</span>
                    </div>
                    <div class="list3" v-on:click="popUp=1">
                        <img src="__COUIMG__/img/button03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.use('layer', function(){
            var layer = layui.layer;
        });
        var App = new Vue({
            el:'#app',
            data:{
                idx:1,
                //按钮状态
                button:false,
                popUp:1,
                token:'<{$token}>',
                msg:'',
                step:'<{$step}>',
                status:'<{$status}>'
            },

            mounted:function () {
                var _this=this;
                if(_this.step==2){
                    _this.idx=2;
                }

                this.$nextTick(function () {
                    // this.show1 = true
                    $('#index .img02,#index .img04,#index .img03,#index .img05,#index .img10,#index .img06,#index .img07').hide();
                    $('#index .img02').show().addClass('animated bounceIn');
                    setTimeout(function () {
                        $('#index .img04').show().addClass('animated bounceIn')
                    },100);
                    setTimeout(function () {
                        $('#index .img03').show().addClass('animated bounceIn')
                    },300);
                    setTimeout(function () {
                        $('#index .img05').show().addClass('animated bounceIn')
                    },600);
                    setTimeout(function () {
                        $('#index .img10').show().addClass('animated bounceIn')
                    },1000);
                    setTimeout(function () {
                        $('#index .img06').show().addClass('animated bounceIn')
                    },1000);
                    setTimeout(function () {
                        $('#index .img07').show().addClass('animated bounceIn')
                    },1200);

                })
            },
            methods:{

                buy:function(){
                    layer.load(2,{
                        shade:0.6
                    });
                    var url="<{:url('coupon/create')}>";
                    var _this=this;
                    $.post(url,{
                        __token__:_this.token
                    },function(res){
                        layer.closeAll();
                        _this.token=res.token;

                        if(res.code==0){
                            _this.popUp=3;
                            _this.msg=res.msg;
                        }else{
                            window.location.href=res.url;
                        }
                    },'JSON');
                },
                mycoupone:function(){
                    var _this=this;
                    var status=parseInt(_this.status);
                    switch (status){
                        case 0:
                            _this.buy();
                            break;
                        case 1:
                            _this.idx=2;
                            break;
                        case 2:
                            _this.idx=3;
                            break;
                        default:
                            _this.idx=3;
                            break;
                    }
                }
            }
        })
    </script>
</body>
</html>